---
ci:
  autoupdate_schedule: monthly
  skip: [pip-audit]

default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        exclude: tests

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]

  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        args: [--verbose, --fail-under=70]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer

  - repo: https://github.com/pypa/pip-audit
    rev: v2.6.1
    hooks:
      -   id: pip-audit
          args: [--local]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.13
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
