---
ci:
  autoupdate_schedule: monthly
  skip: [pip-audit]

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: 'qtgui_rc.py|\.isl'
      - id: end-of-file-fixer
        exclude: 'qtgui_rc.py|\.isl|no_new_line.hash'
      - id: check-docstring-first
        exclude: 'qtgui_rc.py|\.isl'
      - id: debug-statements
        exclude: 'qtgui_rc.py|\.isl'
      - id: double-quote-string-fixer
        exclude: 'qtgui_rc.py|\.isl'
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: requirements-txt-fixer
      - id: fix-byte-order-marker
        exclude: 'qtgui_rc.py|\.isl'
      - id: name-tests-test
        args: [--pytest-test-first]
        exclude: 'helpers.py'

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        exclude: '/qt_gui\.py$|/qtgui_rc\.py$|tests/$'
        additional_dependencies: [types-cffi, types-lupa, types-Pillow, types-PyYAML, types-requests, lxml]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        exclude: '/qtgui_rc.py$|tests/'
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        exclude: '/qtgui_rc.py$'
        args: [--py310-plus]

  - repo: https://github.com/econchick/interrogate
    rev: 1.7.0
    hooks:
      - id: interrogate
        exclude: '/qtgui_rc.py$|tests/'
        args: [--omit-covered-files, --fail-under=90]

  - repo: https://github.com/pypa/pip-audit
    rev: v2.10.0
    hooks:
      -   id: pip-audit
          args: [--local, --ignore-vuln, GHSA-4xh5-x5gv-qwph]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        exclude: '/qtgui_rc.py$'
