[build-system]
requires = ['setuptools']
build-backend = 'setuptools.build_meta'

[project]
name = 'dcspy'
authors = [{name = 'Michal Plichta'}]
maintainers = [{name = 'Michal Plichta'}]
description = 'Software for integrating DCS Planes with Logitech keyboards (with and without LCD), mice and headphones.'
license = {text = 'MIT License'}
requires-python = '>=3.9'
readme = 'README.md'
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Environment :: Console',
    'Environment :: Win32 (MS Windows)',
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Operating System :: Microsoft :: Windows',
    'Operating System :: Microsoft :: Windows :: Windows 10',
    'Topic :: Games/Entertainment',
    'Topic :: Games/Entertainment :: Simulation',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'Topic :: System :: Hardware',
    'Topic :: Utilities',
]
keywords = [
    'dcsworld', 'dcs', 'digital combat simulator', 'eagle dynamics',
    'logitech', 'logitech sdk', 'logitech keyboard', 'logitech gaming', 'logitech mouse', 'logitech headphone',
    'G19', 'G510', 'G15', 'G13',
    'G910', 'G710', 'G110', 'G103', 'G105',
    'G11', 'G35', 'G633', 'G930', 'G933',
    'G600', 'G300', 'G400', 'G700', 'G9', 'MX518', 'G402', 'G502', 'G602',
]
dynamic = ['version']
dependencies = [
    'cffi==1.16.0',
    'GitPython==3.1.43',
    'packaging==24.1',
    'Pillow==10.3.0',
    'psutil==5.9.8',
    'pydantic==2.7.4',
    'PySide6==6.7.1',
    'PyYAML==6.0.1',
    'requests==2.32.3',
    'typing_extensions==4.12.0; python_version < "3.12"',
]

[project.urls]
Homepage = 'https://github.com/emcek/dcspy'
Documentation = 'https://github.com/emcek/dcspy/wiki'
Repository = 'https://github.com/emcek/dcspy.git'
Changelog = 'https://github.com/emcek/dcspy/CHANGELOG.md'

[project.scripts]
dcspy_cli = 'dcspy.run:run'

[project.gui-scripts]
dcspy = 'dcspy.run:run'

[project.optional-dependencies]
test = [
    'flake8',
    'interrogate',
    'lxml',
    'mypy',
    'pip-audit',
    'pycodestyle',
    'pydocstyle[toml]',
    'pytest',
    'pytest-cov',
    'pytest-qt; sys_platform == "win32"',
    'pytest-randomly',
    'ruff',
    'types-cffi',
    'types-Pillow',
    'types-psutil',
    'types-pyinstaller',
    'types-PyYAML',
    'types-requests',
]
dev = [
    'build',
    'detect-test-pollution',
    'isort',
    'pipdeptree',
    'pre-commit',
    'pyinstaller',
]

[tool.setuptools.dynamic]
version = {attr = 'dcspy.run.__version__'}

[tool.setuptools.packages.find]
include = ['dcspy*']
exclude = ['dcspy.tests*']

[tool.setuptools.package-data]
dcspy = [
    'resources/*.*',
    'img/dcspy_white.ico',
    'img/dcspy_black.ico',
    'sdk/*.h',
    'py.typed',
]

[tool.pytest.ini_options]
addopts = ['-q']
testpaths = ['tests']
markers = [
    'qt6: marks tests for Qt6 verfification',
    'slow: marks tests as slow',
    'e2e: marks test as E2E',
]

[tool.interrogate]
ignore-init-method = false
ignore-init-module = true
ignore-magic = true
ignore-semiprivate = false
ignore-private = false
ignore-property-decorators = false
ignore-module = true
ignore-nested-functions = false
ignore-nested-classes = true
ignore-setters = false
fail-under = 90
verbose = 1
quiet = false
exclude = ['tests/test_*', 'dcspy/qtgui_rc.py']

[tool.ruff]
line-length = 160
lint.select = ['E', 'F', 'C90', 'D', 'RUF']
lint.ignore = ['D100', 'D101','D104', 'D105', 'D203', 'D204', 'D212', 'RUF001', 'RUF010']
extend-exclude = [
    "qtgui_rc.py",
    "tests/",
]

[tool.ruff.lint.mccabe]
max-complexity = 6

[tool.mypy]
#ignore_missing_imports = true
#no_warn_no_return = true
#check_untyped_defs = true
html_report = 'mypyhtml'
exclude = [
    '/qt_gui\.py$',
    '/qtgui_rc\.py$',
    'tests/',
    'generate_ver_file\.py$',
]

[[tool.mypy.overrides]]
module = 'dcspy.qt_gui'
follow_imports = 'skip'

[tool.pydocstyle]
inherit = false
ignore = ['D100', 'D101','D104', 'D105', 'D203', 'D204', 'D212']
match = '(?!test_|qtgui_rc).*\.py'

[tool.isort]
line_length = 160
