[build-system]
requires = ['setuptools']
build-backend = 'setuptools.build_meta'

[project]
name = 'dcspy'
authors = [{name = 'Michal Plichta'}]
maintainers = [{name = 'Michal Plichta'}]
description = 'Integrating DCS (Digital Combat Simulator) planes with Logitech G13/G15/G510/G19 LCD'
license = {text = 'MIT License'}
requires-python = '>=3.8'
readme = 'README.md'
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Environment :: Console',
    'Environment :: Win32 (MS Windows)',
    'License :: OSI Approved :: MIT License',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Operating System :: Microsoft :: Windows',
    'Operating System :: Microsoft :: Windows :: Windows 10',
    'Topic :: Games/Entertainment',
    'Topic :: Games/Entertainment :: Simulation',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'Topic :: System :: Hardware',
    'Topic :: Utilities',
]
keywords = ['logitech', 'logitech sdk', 'logitech keyboards', 'logitech gaming', 'logitech gaming keyboard', 'dcsworld', 'dcs', 'g13', 'g15', 'g510', 'g19']
dynamic = ['version']
dependencies = [
    'cffi==1.16.0',
    'CTkMessagebox==2.5',
    'CTkToolTip==0.8',
    'customtkinter==5.2.0',
    'GitPython==3.1.37',
    'packaging==23.2',
    'Pillow==10.0.1',
    'psutil==5.9.6',
    'pystray==0.19.5',
    'PyYAML==6.0.1',
    'requests==2.31.0',
    'typing-extensions==4.7.1; python_version < "3.11"',
]

[project.urls]
Homepage = 'https://github.com/emcek/dcspy'
Documentation = 'https://github.com/emcek/dcspy/wiki'
Repository = 'https://github.com/emcek/dcspy.git'
Changelog = 'https://github.com/emcek/dcspy/CHANGELOG.md'

[project.scripts]
dcspy_cli = 'dcspy.run:run'

[project.gui-scripts]
dcspy = 'dcspy.run:run'

[project.optional-dependencies]
test = [
    'codacy-coverage',
    'coveralls',
    'flake8',
    'interrogate',
    'lxml',
    'mypy',
    'pip-audit',
    'pycodestyle',
    'pydocstyle[toml]',
    'pytest',
    'pytest-cov',
    'pytest-randomly',
    'ruff',
    'types-Pillow',
    'types-psutil',
    'types-PyYAML',
    'types-requests',
]

[tool.setuptools.dynamic]
version = {attr = 'dcspy.run.__version__'}

[tool.setuptools.packages.find]
include = ['dcspy*']
exclude = ['dcspy.tests*']

[tool.setuptools.package-data]
dcspy = [
    '*.txt',
    '*.yaml',
    '*.ico',
    '*.png',
    '*.ttf',
    'sdk/*.h',
    'py.typed',
]

[tool.pytest.ini_options]
addopts = ['-q']
testpaths = ['tests']
markers = ['dcsbios: marks tests for verfification of DCS-BIOS data']

[tool.interrogate]
ignore-init-method = false
ignore-init-module = true
ignore-magic = false
ignore-semiprivate = false
ignore-private = false
ignore-property-decorators = false
ignore-module = true
ignore-nested-functions = false
ignore-nested-classes = true
ignore-setters = false
fail-under = 90
verbose = 1
quiet = false
exclude = ['tests/test_*']

[tool.ruff]
line-length = 160
select = ['E', 'F', 'C90', 'D', 'RUF']
ignore = ['D100', 'D101','D104', 'D203', 'D204', 'D212', 'RUF001', 'RUF010']

[tool.ruff.mccabe]
max-complexity = 6

[tool.mypy]
ignore_missing_imports = true
html_report = 'mypyhtml'

[tool.pydocstyle]
inherit = false
ignore = ['D100', 'D101','D104', 'D203', 'D204', 'D212']
match = '.*\.py'
