-r requirements.txt
codacy-coverage
coveralls
flake8
interrogate
lxml
mypy
pip-audit
pycodestyle
pydocstyle[toml]
pytest
pytest-cov
pytest-qt; sys_platform == "win32"
pytest-randomly
ruff
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
types-PyYAML
types-requests
