-r requirements.txt
interrogate
isort
lxml
mypy
pip-audit
pytest
pytest-codspeed
pytest-cov
pytest-qt; sys_platform == "win32"
pytest-randomly
ruff
types-cffi
types-lupa
types-Pillow
types-PyYAML
types-requests
