-r requirements_test.txt
black==25.1.0
mkdocs==1.6.1
mkdocs-gen-files==0.5.0
mkdocs-literate-nav==0.6.1
mkdocs-material==9.6.4
mkdocs-plantuml==0.1.1
mkdocs-section-index==0.3.9
mkdocstrings==0.28.1
mkdocstrings-python==1.15.0
plantuml==0.3.0
