-r requirements.txt
check-manifest
codacy-coverage
coveralls
flake8
interrogate
lxml<=4.9.0; platform_system == "Windows"
lxml; platform_system == "Linux"
mypy
pip-audit
pycodestyle
pydocstyle
pylint
pytest-cov
pytest-mccabe
pytest-random
types-requests
types-PyYAML
