autostart: false
dcsbios: D:\Users\UNKNOWN\Saved Games\DCS.openbeta\Scripts\DCS-BIOS
font_color_l: 32
font_color_s: 22
font_color_xs: 18
font_mono_l: 16
font_mono_s: 11
font_mono_xs: 9
font_name: consola.ttf
keyboard: G13
show_gui: true
verbose: false
