black==26.1.0
mkdocs==1.6.1
mkdocs-gen-files==0.6.0
mkdocs-literate-nav==0.6.2
mkdocs-material==9.7.1
mkdocs-plantuml==0.1.1
mkdocs-section-index==0.3.10
mkdocstrings==1.0.3
mkdocstrings-python==2.0.2
plantuml==0.3.0
