name: Coverage

on:
  workflow_call:
    secrets:
      COVERALLS_REPO_TOKEN:
        required: true
      CODACY_PROJECT_TOKEN:
        required: true

jobs:
  coverage:
    name: windows-2025 py3.13
    runs-on: windows-2025
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Set up Python environment"
        uses: ./.github/actions/setup-python

      - name: "Test with pytest"
        env:
          PYSIDE_DESIGNER_PLUGINS: .
          PYTEST_QT_API: PySide6
          DCSPY_NO_MSG_BOXES: 1
        run: |
          python -m pytest -v -m 'not e2e' --img_precision 0 --disable-warnings --cov=dcspy --cov-report=xml --cov-report=html --cov-report=term-missing

      - name: "Upload pytest results"
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: coverage_3_13
          path: |
            covhtml/*
            coverage.xml
          retention-days: 4

      - name: "Run Coveralls coverage"
        uses: coverallsapp/github-action@v2

      - name: "Run Codacy coverage"
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.xml
