name: Build dcspy binary with Nuitka

on: workflow_call

jobs:
  build:
    runs-on: windows-2025
    strategy:
      matrix:
        nuitka_type: [ setup, portable ]
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Set up Python environment"
        uses: ./.github/actions/setup-python

      - name: "Generate version info"
        shell: pwsh
        id: nuitka_data
        run: |
          $ref_name = $env:GITHUB_REF_NAME -replace '^v', ''
          $run_number = $env:GITHUB_RUN_NUMBER
          $sha = $env:GITHUB_SHA.Substring(0, 5)
          Write-Output "git_ref_name=$ref_name" >> $env:GITHUB_OUTPUT
          Write-Output "git_run_number=$run_number" >> $env:GITHUB_OUTPUT
          Write-Output "git_sha=$sha" >> $env:GITHUB_OUTPUT

      - uses: Nuitka/Nuitka-Action@main
        if: ${{ endsWith( matrix.nuitka_type, 'setup') }}
        with:
          nuitka-version: 2.8.10
          script-name: src/dcs_py.py
          mode: standalone
          windows-console-mode: disable
          prefer-source-code: true
          enable-plugins: pyside6
          include-package-data: dcspy
          assume-yes-for-downloads: true
          output-file: dcspy
          output-dir: dist
          windows-icon-from-ico: src/dcspy/img/dcspy_white.ico
          company-name: Michal Plichta
          product-name: DCSpy
          file-version: ${{ steps.nuitka_data.outputs.git_ref_name }}.${{ steps.nuitka_data.outputs.git_run_number }}
          product-version: ${{ steps.nuitka_data.outputs.git_ref_name }}.${{ steps.nuitka_data.outputs.git_run_number }}
          file-description: Integrating DCS Planes with Logitech keyboards with LCD
          copyright: (c) 2026 Michal Plichta. All rights reserved.

      - uses: Nuitka/Nuitka-Action@main
        if: ${{ endsWith( matrix.nuitka_type, 'portable') }}
        with:
          nuitka-version: 2.8.10
          script-name: src/dcs_py.py
          mode: onefile
          windows-console-mode: disable
          prefer-source-code: true
          enable-plugins: pyside6
          include-package-data: dcspy
          assume-yes-for-downloads: true
          onefile-windows-splash-screen-image: src/dcspy/img/splash.png
          output-file: dcspy_${{ steps.nuitka_data.outputs.git_ref_name }}_portable
          output-dir: dist
          windows-icon-from-ico: src/dcspy/img/dcspy_white.ico
          company-name: Michal Plichta
          product-name: DCSpy
          file-version: ${{ steps.nuitka_data.outputs.git_ref_name }}.${{ steps.nuitka_data.outputs.git_run_number }}
          product-version: ${{ steps.nuitka_data.outputs.git_ref_name }}.${{ steps.nuitka_data.outputs.git_run_number }}
          file-description: Integrating DCS Planes with Logitech keyboards with LCD
          copyright: (c) 2026 Michal Plichta. All rights reserved.

      - name: "Upload dcspy setup installer"
        if: ${{ endsWith( matrix.nuitka_type, 'setup') }}
        uses: actions/upload-artifact@v6
        with:
          name: dcspy_${{ matrix.nuitka_type }}
          path: |
            dist/*
            !dist/dcs_py.build
            !dist/dcspy.exe

      - name: "Upload dcspy portable binaries"
        if: ${{ endsWith( matrix.nuitka_type, 'portable') }}
        uses: actions/upload-artifact@v6
        with:
          name: dcspy_${{ matrix.nuitka_type }}
          path: dist/dcspy_${{ steps.nuitka_data.outputs.git_ref_name }}_portable.exe
