name: Tests

on: workflow_call

jobs:
  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.9', '3.10', '3.11', '3.12']
        exclude:
          - os: windows-latest
            python-version: '3.12'
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Set up Python ${{ matrix.os }} ${{ matrix.python-version }}"
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: "Install MS Fonts"
        if: ${{ contains( matrix.os, 'ubuntu') }}
        run: |
          curl -O https://lexics.github.io/assets/downloads/fonts/clearTypeFonts/consola.ttf
          sudo mkdir -p /usr/share/fonts/truetype
          sudo mv consola.ttf /usr/share/fonts/truetype
          fc-cache -f

      - name: "Install dependencies"
        run: |
          python -m pip install --upgrade pip setuptools
          pip install -Ur requirements_test.txt

      - name: "Test with pytest"
        env:
          PYSIDE_DESIGNER_PLUGINS: .
          PYTEST_QT_API: PySide6
        run: |
          python -m pytest -v -m 'not e2e" --img_precision 0

      - name: "Upload test results"
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: pytest-${{ matrix.os }}-${{ matrix.python-version }}
          path: |
            tests/resources/*
          retention-days: 5

      - name: "Check pip-audit"
        run: |
          pip-audit -lv --progress-spinner off --ignore-vuln PYSEC-2022-42969
