name: Tests

on: workflow_call

jobs:
  unit_test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-2025 ]
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Install uv and set the Python"
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          activate-environment: true

      - name: "Install the project and test dependencies"
        run: uv sync

      - name: "Install MS Fonts"
        if: ${{ contains( matrix.os, 'ubuntu') }}
        run: |
          curl -O https://lexics.github.io/assets/downloads/fonts/clearTypeFonts/consola.ttf
          sudo mkdir -p /usr/share/fonts/truetype
          sudo mv consola.ttf /usr/share/fonts/truetype
          fc-cache -f

      - name: "Test with pytest"
        env:
          PYSIDE_DESIGNER_PLUGINS: .
          PYTEST_QT_API: PySide6
          DCSPY_NO_MSG_BOXES: 1
        run: |
          python -m pytest -v -m 'not e2e' --img_precision 0

      - name: "Upload test results"
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: pytest-${{ matrix.os }}-${{ matrix.python-version }}
          path: |
            tests/resources/*
          retention-days: 5

      - name: "Check pip-audit"
        run: |
          pip-audit -lv --progress-spinner off --ignore-vuln PYSEC-2022-42969 --ignore-vuln GHSA-4xh5-x5gv-qwph
