name: Tests

on: workflow_call

jobs:
  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11']
        exclude:
          - os: ubuntu-latest
            python-version: '3.11'
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3

      - name: "Set up Python ${{ matrix.os }} ${{ matrix.python-version }}"
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: "Install MS Fonts"
        if: ${{ contains( matrix.os, 'ubuntu') }}
        run: |
          curl -O https://lexics.github.io/assets/downloads/fonts/clearTypeFonts/consola.ttf
          sudo mkdir -p /usr/share/fonts/truetype
          sudo mv consola.ttf /usr/share/fonts/truetype
          fc-cache -f

      - name: "Install dependencies"
        run: |
          python -m pip install --upgrade pip setuptools
          pip install -Ur requirements_test.txt

      - name: "Test with pytest"
        run: |
          python -m pytest --random -q -m "not dcsbios"

      - name: "Upload test results"
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: pytest-${{ matrix.os }}-${{ matrix.python-version }}
          path: |
            tests/resources/*
          retention-days: 5

      - name: "Check pip-audit"
        run: |
          pip-audit -lv --progress-spinner off --ignore-vuln PYSEC-2022-42969
