name: Build dcspy wheel package

on: workflow_call

jobs:
  build:
    runs-on: windows-2025
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Set up Python environment"
        uses: ./.github/actions/setup-python

      - name: "Build dcspy wheel package"
        shell: bash
        run: |
          uv build
          python -m twine check dist/*

      - name: "Upload dcspy wheel"
        uses: actions/upload-artifact@v6
        with:
          name: dcspy_wheel
          path: |
            dist/*.whl
            dist/*.tar.gz
